button {
    background-color: rgb(45, 45, 45);
    padding: 8px;
    border: 1px solid rgb(193, 193, 193);
    transition: background-color, border-color 0.2s ease-out;
}

button:hover {
    background-color: rgb(62, 62, 62);
    border: 1px solid rgba(255, 255, 255, 0);
    transition: background-color, border-color 0.2s ease-out;
}

* {
    color: rgb(228, 228, 228);
}

h2 {
    font-family: 'Lato', sans-serif;
    font-size: 28px;
}

.default-text {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 300;
}

h1 {
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    font-weight: 700;
}

p {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 4px;
}

a {
    text-decoration: underline rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    transition: all 0.2s ease-in-out;
}

.col-right {
    padding: 0 20px 0 20px;
}

body {
    background-color: rgb(13, 13, 13);
}

.card {
    margin: 16px 0 16px 0;
    border-radius: 0;
    height: max-content;
    cursor: pointer;
    box-shadow: 0 0 0 0 rgb(144, 43, 144);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    transition: all 0.3s ease-in-out;
}

.card:hover {
    box-shadow: 3px 0 0 0 rgb(144, 43, 144), -3px 0 0 0 rgb(144, 43, 144);
    background-color: rgb(33, 33, 33);
    transition: all 0.3s ease-in-out;
}

.sticky-lg-top {
    top: 0px !important;
}

.menu {
    background-color: rgb(6, 6, 6);
}

.code {
    padding: 12px;
    background-color: rgb(28, 28, 28);
}
